.skills {
    background-color: #E4DAC2;
    height: 100vh;
    width: 100%;
    padding-top: 7em;
}
  
.skillsheader {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    text-shadow: .1em .1em .5em grey;
}  

.skillList {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .skillRow {
    display: table-row;
  }
  
  .SkillIcon {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 8px;
    height: 1px;
  }