.skills {
    background-color: #E4DAC2;
    height: 100vh;
    width: 100%;
    padding-top: 7em;
}
  
.skillsheader {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    text-shadow: .1em .1em .5em grey;
}  

.skillList {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 15em;
  }
  
  .skillRow {
    display: table-row;
  }
  
  .SkillIcon {
    display: table-cell;
    padding: 8px;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    border-color: white;
    border-width: thick;
  }

  .skillList img{
    max-width: 100%;
    height: auto;
    display: block;

    
    background-color: #929A85;
    padding: 1em;
    border-radius: 1em;
  }