.skills {
    background-color: #929A85;
    height: 70vh;
    width: auto;
    padding-top: 7em;
}
  
.skillsheader {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    text-shadow: .1em .1em .5em grey;
}  

.skillList {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 5em;

    display: grid;
    place-items: center;
  }
  
  .skillRow {
    display: table-row;
  }
  
  .SkillIcon {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    display: table-cell;
    padding: 0.5em;
    height: 5em;
    vertical-align: middle;
    border-color: white;
    border-width: thick;
  }

  .skillList img{
    height: 5em;
    max-width: 100%;
    display: block;


    background-color: white;
    padding: 1em;
    border-radius: 1em;
  }

  @media screen and (max-width: 800px) {
    .skillList img{
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .skills{
      height: auto;
      padding-bottom: 3em;
      padding-top: 3em;
    }
  }

  @media screen and (max-width: 800px) {
    .skillList{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 800px) {
    .skillRow{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left: .5em;
      padding-right: .5em;

    }
  }
  
  @media screen and (max-width: 800px) {
    .SkillIcon{
      background-color: #d8caa7;
      border-radius: 2em;
      padding: .5em;
      font-weight: bold;
      height: auto;
      color: white;
      width: 7.5em;
      margin: .25em;
      text-shadow: .1em .1em .5em grey;
      box-shadow: .5em .5em 1em #6A725D;
    }
  }