body {
  margin: 0;
  padding: 0;
}

/* global */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

/* the page */
body {
  font-family: Arial, sans-serif;
  background-color: #E4DAC2; /* You can change this to your preferred background color */
}

/* navbar */
.navbar {
  margin-top: .5em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40em;
  height: 3em;
  border-radius: 3.1em;
  background: #6A725D;
  box-shadow: .3em .3em .5em 0em rgba(0, 0, 0, 0.40);
  display: flex;
  justify-content: center;
}

/* text within the navbar */
.navbar a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 .75em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* navbar tabs */
.navbar a + a {
  margin-left: 3em;
}

/* hover effect on the navbar items */
.navbar a:hover {
  /* background-color: #8e9687; */
  position: relative;
}

.navbar a:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5em;
  height: 2.5em;
  border-radius: 4em; /* creates circular shape */
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none; 
}

/* paragraph elements */
p{
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  margin: 0;
}

.welcomesection{
  height: 100vh;
  width: 100%;
}

p.landing{
  color:white;
  background-color: black;
}

.welcome{
  font-weight: bold;
}

.wrapper span {
	position: fixed;
	bottom: -10em;
	height: 5em;
	width: 5em;
	z-index: -1;
	background-color: #d8caa7;
	box-shadow: 0 0 5em white;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 6em;
	animation-delay: 0.6s;
  border-radius: 10%;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 6em;
	height: 6em;
  border-radius: 10%;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
  border-radius: 10%;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 8em;
	height: 8em;
  border-radius: 10%;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
  border-radius: 10%;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
  border-radius: 10%;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 10em;
	height: 10em;
  border-radius: 10%;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
  border-radius: 10%;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6.2s;
	width: 7em;
	height: 7em;
  border-radius: 10%;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
  border-radius: 10%;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 100vh;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-80em) rotate(360deg);
		opacity: 0;
	}
}

.aboutme {
  background-color: #929A85;
  height: 100vh;
  width: 100%;
  padding-top: 7em;
}

.aboutmeheader{
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  text-shadow: .1em .1em .5em #979a85;
}

.aboutmeparagraph {
  background-color: #E9CCB1;
  border-radius: 2em;
  font-size: 1.5vh;
  padding: 1em;
  font-weight: lighter;
}

/* Define styles for the left and right sides */
.content {
  display: flex; /* Use flexbox for easy positioning */
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between the left and right sides */
  padding: 5em; /* Add some padding for spacing */
}

.left-side {
  flex: 2; /* Take up remaining space in the flex container */
  padding-right: 2em; /* Add some right padding to separate from the image */
}

.right-side {
  flex: 1; /* Take up remaining space in the flex container */
}

img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  height: auto; /* Maintain the aspect ratio of the image */
}

.skills {
  background-color: #E4DAC2;
  height: 100vh;
  width: 100%;
  padding-top: 7em;
}

.skillsheader{
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  text-shadow: .1em .1em .5em #979a85;
}

.projects {
  background-color: #b7bdaf;
  height: 100vh;
  width: 100%;
  padding-top: 7em;
}

.projectsheader{
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  text-shadow: .1em .1em .5em #979a85;
}

.contacts {
  background-color: #E9CCB1;
  height: 100vh;
  width: 100%;
  padding-top: 7em;
}

.contactheader{
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  text-shadow: .1em .1em .5em #979a85;
}